input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-component-container{
    display: flex;
}
.input-field-container{
 display: flex;
 border: solid 1px gray;
 border-radius: 20px;
 padding: 5px;
}
.input-field{
    outline: none;
    border: none;
}
.input-x{
    opacity: 0.5;
}