.input-component-container{
    display: flex;
}
.input-field-container{
 display: flex;
 border: solid 1px gray;
 border-radius: 20px;
 padding: 5px;
}
.input-field{
    outline: none;
    border: none;
}