.toast-container{
    position: fixed;      
    bottom: 20px;         
    right: 20px; 
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 40px;
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    color: white;
}
.toast-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.toast-subtext{
    font-size: smaller;
}
.toast-displayed-text{
    padding: 0;
    margin: 0;
}
.toast-success{
    background: #40a02b;
}

.toast-informational{
    background: #04a5e5;

}

.toast-warning{
    background: #df8e1d;
}

.toast-error{
    background: #e64553;
}

.toast-close-button{
    opacity: 0.8;
    margin-left: auto;
}