.sidebar-menu-container{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;

}
.sidebar-menu-content{
    background: rgb(209, 209, 209);
    height: 100vh;
    padding: 0;
    margin: 0;
}
.sidebar-menu-closed{
    width: 0;
    overflow: clip; /* hide content while closed */
    transition: width 0.2s ease-in;
}
.sidebar-menu-open{
    width: 200px;
    transition: width 0.2s ease-in;
}

.sidebar-menu-togel{
position: relative;
}

.sidebar-menu-togel-close{

}